body {
  font-family: monospace;
  background-color: #f8f8f8;
  color: #333;
  padding: 50px;
  margin: auto;
}

.code-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.profile-link {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 11px;
}